.DS_Store
db_data/

prestashop/*
!prestashop/modules
prestashop/modules/*
!prestashop/modules/designassets

!prestashop/themes
prestashop/themes/*
!prestashop/themes/hummingbird
prestashop/themes/hummingbird/*
!prestashop/themes/hummingbird/assets
prestashop/themes/hummingbird/assets/*
!prestashop/themes/hummingbird/assets/css
prestashop/themes/hummingbird/assets/css/*
!prestashop/themes/hummingbird/assets/css/layout
!prestashop/themes/hummingbird/assets/css/tokens.css
